<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Group10Final</title>
        {% else %}
        <title>Welcome to Group10Final</title>
        {% endif %}
    </head>
    <body>
        <div>
        Group10Final
        <!-- <a href="{{ url_for('index') }}">Home</a> -->
        <a href="{{/index}}">Home</a>
        <!-- <a href="{{ url_for('/login') }}">Login</a> -->
        <a href="{{/login}}">Login</a>
        <!-- <a href="{{ url_for('/content' }}">Content</a> -->
        <a href="{{/content}}">Content</a>
        <a href="{{/titanicGraph}}">Titanic Graph</a>
        </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </body>
</html>

<div>
    <!-- Group10Final
    <a href="/index">Home</a>
    <a href="/login">login</a>
</div>
<hr>
{% block content %}{% endblock %} -->