<!-- This is a test base for the graph until the page can be opened-->
<!-- This a bar graph example-->
<canvas id="myChart" width="400" height="400"></canvas>
<!-- Maybe add a JQuery for this program ha ha ha-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
<script>
    const ctx = document.getElementById("myChart").getContext("2d");
    
    const myChart = new Chart(ctx, {
        type: "scatter",
        data: {
            datasets: [{
                label: 'Scatter Dataset',
                data: [{
                x: -10,
                y: 0
                }, {
                x: 0,
                y: 10
                }, {
                x: 10,
                y: 5
                }, {
                x: 0.5,
                y: 5.5
                }],
            backgroundColor: 'rgb(255, 99, 132)'
            }],
        },
        options:{
            scales: {
                x: {
                    type: 'linear',
                    position: 'bottom'
                }
            }
        }
    })
</script>